h1{
  position: fixed;
  top: 40px;
  right: 520px;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image:
  linear-gradient(to bottom, rgba(15,120,42,0.8), rgba(253,134,15,0.8))
}

html{
  height: 250%;
  text-align: center;
  color: black;
}

img{
  position: absolute;
  top: 550px;
  right: 0;
}
